<div class="dialog px-0.5 py-0.5">
  <div class="font-medium rounded-lg text-sm px-5 py-2.5">
    <div class="dialog-header">
      <button class="button" (click)="closeDialog()">X</button>
    </div>
    <div class="text-lg text-white">
      <p>{{ hero.heroName }}</p>
      <p>Class: {{ hero.jobClass }}</p>
      <p>Level: {{ hero.stats.getLevel() }}</p>
      <p>EXP: {{ hero.totalExp }}</p>

      <p>
        @if (!isPanelOpen) {
          <span>Stats:</span>
        }
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpened()"
            (closed)="panelClosed()"
            class="border font-medium rounded-lg text-md px-1 py-1 me-1 mb-1 dropdown"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>{{
                panelOpenState() ? "Stats:" : previewStats(hero)
              }}</mat-panel-title>
            </mat-expansion-panel-header>
            <stats [stats]="hero.stats" [isFullStats]="true"></stats>
          </mat-expansion-panel>
        </mat-accordion>
      </p>
    </div>
    <div class="dialog-footer">
      @if (!alreadyInParty) {
        <button class="button" (click)="addClicked()">Add to Party</button>
      }
      @if (alreadyInParty) {
        <button class="button" (click)="removeClicked()">
          Remove from Party
        </button>
      }
    </div>
  </div>
</div>
