<div class="dialog">
  <div class="dialog-header">
    <button class="close-button" (click)="closeDialog()">X</button>
  </div>
  <div class="dialog-content text-white">
    <p>{{ hero.heroName }}</p>
    <p>Class: {{ hero.jobClass }}</p>
    <p>
      Stats:
      <stats [stats]="hero.stats" [isFullStats]="true"></stats>
    </p>
    <p>EXP: {{ hero.totalExp }}</p>
  </div>
  <div class="image-container" *ngIf="alreadyInParty">
    <img
      src="
    https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/PlayStation_button_X.svg/2048px-PlayStation_button_X.svg.png
    "
      alt="X"
      class="image"
      (click)="animate()"
    />
  </div>
  <!-- <div class="dialog-content text-white">
    <p>Skills:</p>
    <ul>
      <li *ngFor="let skill of hero.skills">{{ skill }}</li>
    </ul>
  </div> -->
  <div class="dialog-footer">
    <button
      class="action-button"
      (click)="onAction('add')"
      *ngIf="!alreadyInParty"
    >
      Add to Party
    </button>
    <button
      class="action-button"
      (click)="onAction('remove')"
      *ngIf="alreadyInParty"
    >
      Remove from Party
    </button>
  </div>
</div>
