.hero-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px); //grid-cols-2
    grid-gap: 6rem;
    padding: 1rem;
}

.battle-container {
    grid-template-columns: repeat(auto-fill, 200px); //grid-cols-2
    grid-gap: 6rem;
    padding: 1rem;
}

.battle-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}