.hero-container {
  padding: 1rem;
  margin: 1rem;
}

.added-hero-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4rem 4rem 4rem;
  padding: 1rem;
  justify-content: center;
}

.drag-drop-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 4rem 4rem 4rem;
  padding: 1rem;
  justify-content: center;
}
