@if (responseText && responseText.length > 0 && result.length > 0) {
  <div
    class="border border-black dark:border-green-300 m-2 bg-white dark:bg-gray-900"
  >
    <div class="inline-flex flex-col items-baseline p-2">
      <p class="analysis-section-title text-gray-900 dark:text-white">
        {{ result[0] }}
      </p>
      <p
        class="analysis-section-text text-left text-gray-500 dark:text-gray-400"
      >
        {{ result[1] }}
      </p>
      <p class="analysis-section-title text-gray-900 dark:text-white">
        {{ result[2] }}
      </p>
      @if (checkForDelimiter("", "")) {
        @for (item of getSplicedExplanation(); track item) {
          <p
            class="analysis-section-text text-left text-gray-500 dark:text-gray-400"
          >
            {{ "- " + item }}
          </p>
        }
      } @else if (!checkForDelimiter("", "")) {
        <p
          class="analysis-section-text text-left text-gray-500 dark:text-gray-400"
        >
          {{ result[3] }}
        </p>
      }
    </div>
  </div>
}
