@if (responseText && responseText.length > 0 && result.length > 0) {
  <div class="m-2 analysis-section-container">
    <div class="inline-flex flex-col items-baseline p-2">
      <p class="analysis-section-title">
        {{ result[0] }}
      </p>
      <p
        class="analysis-section-text text-left"
      >
        {{ result[1] }}
      </p>
      <p class="analysis-section-title">
        {{ result[2] }}
      </p>
      @if (checkForDelimiter("", "")) {
        @for (item of getSplicedExplanation(); track item) {
          <p
            class="analysis-section-text text-left"
          >
            {{ "- " + item }}
          </p>
        }
      } @else if (!checkForDelimiter("", "")) {
        <p
          class="analysis-section-text text-left"
        >
          {{ result[3] }}
        </p>
      }
    </div>
  </div>
}
