<div class="scratch-off">
  <div class="scratch-off-container">
    <div class="cursor"></div>

    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />

    <!-- reveal image -->
    <img
      src="../assets/digimon.jpg"
      alt="Digimon movie Tai holding Egg"
      class="scratch-off-reveal"
    />
  </div>
</div>
