<div class="scratch-off">
  <div class="scratch-off-container mobile-hide">
    <div class="cursor"></div>

    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />
    <img
      src="../assets/black-square.png"
      alt="black square to scratch off"
      class="scratch-off-cover"
    />

    <!-- reveal image -->
    <img
      src="../assets/digimon.jpg"
      alt="Digimon movie Tai holding Egg"
      class="scratch-off-reveal"
    />
  </div>
  <div class="mobile-show text-xl text-center my-4 mx-4 text-white">
    This tool does not work properly on mobile*
  </div>
</div>
